body
{
    font-family: 'Open sans','Helvetical Newue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color:#404040;
    line-height: 35px;
    text-align:justify;
}

a, a:hover {
    color:#202020;
}
nav.navbar {
    margin-bottom: 0px;
}

.navbar-nav li a {
    line-height:50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size:14px;
}

.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active a:hover {
    background-color: transparent;
}

.navbar-default .navbar-header button {
    margin: 25px;
}

.top-toolbar {
    font-size:14px;
    font-weight:bold;
    color:#707070;
    text-align:right;
    padding-right:35px;
}

h1
{
    font-size:1.2;
    text-shadow: 0px 1px 0px rgb(10, 10, 10);
}

h2
{
    font-size:1.2;
    text-shadow: 0px 1px 0px rgb(10, 10, 10);
}

h3
{
    font-size:1.1;
    text-shadow: 0px 1px 0px rgb(10, 10, 10);
}

footer {
    padding-top:25px;
    background-color:#e7e7e7;
}

label.label-light
{
    font-size:1em;
    font-weight: normal;
}

.person-card {
    margin-bottom:30px;
}

.control-light
{
    font-size:1em;
    font-weight: normal;
}

.carousel-indicators li
{
    box-shadow:2px 2px 6px 0px #000;
}

.carousel-indicators li.active
{
    background-color: rgba(227, 232, 41, 0.7);
}
