html, body{
    height:100%;
}
body
{
    font-family: 'Open sans','Helvetical Newue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color:#404040;
    line-height: 35px;
    text-align:justify;
}

.wrap {
    min-height: 100%;
    /*height: auto;*/
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

a, a:hover {
    color:#404040;
}
nav.navbar {
    margin-bottom: 0px;
}

.navbar-nav li a {
    line-height:50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size:14px;
}

.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active a:hover {
    background-color: transparent;
}

.navbar-default .navbar-header button {
    margin: 25px 25px 25px 0px;
}

@media (min-width: 768px) {
    .navbar-brand {
        margin-right:50px;
    }
}

.top-toolbar {
    font-size:14px;
    font-weight:bold;
    color:#707070;
    text-align:right;
    padding-right:35px;
}

h1
{
    font-size:30px;
}

h2
{
    font-size:25px;
}

h3
{
    font-size:25px;
    text-shadow: 0px 1px 0px rgb(10, 10, 10);
}

footer {
    padding-top:20px;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

label.label-light
{
    font-size:1em;
    font-weight: normal;
}

.person-card {
    margin-bottom:30px;
}

.control-light
{
    font-size:1em;
    font-weight: normal;
}

.carousel-indicators li
{
    box-shadow:2px 2px 6px 0px #000;
}

.carousel-indicators li.active
{
    background-color: rgba(227, 232, 41, 0.7);
}

.small {
    font-size: 16px;
}

.small .tri { 
    border: 0px transparent none; 
    display: inline-block;
    height: 0px;  
    width: 5px;
    margin-right:5px;
}

.small .tri-active {
    border-color: transparent #707070;  
    border-style: solid;  
    border-width: 5px 0 5px 5px;  
    display: inline-block;
    height: 10px;  
    width: 5px;
    margin-bottom: 1px;
    margin-right:5px;
}
